In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
import re

In [3]:
spark = pyspark.sql.SparkSession.builder.appName('WordCount').getOrCreate()

In [4]:
book = spark.read.text('old/Book.txt')

In [5]:
book.show(5)

+--------------------+
|               value|
+--------------------+
|Self-Employment: ...|
|Achieving Financi...|
|       By Frank Kane|
|                    |
|                    |
+--------------------+
only showing top 5 rows

In [6]:
book = book.where(book.value != '')
book.show(5)

+--------------------+
|               value|
+--------------------+
|Self-Employment: ...|
|Achieving Financi...|
|       By Frank Kane|
|Copyright � 2015 ...|
|All rights reserv...|
+--------------------+
only showing top 5 rows

In [7]:
splitLines = pyspark.sql.functions.split(book.value, ' ')

In [8]:
sizeLines = pyspark.sql.functions.size(splitLines)

In [9]:
book = book.withColumn('size', sizeLines.cast('integer'))
book.show(5, truncate=False)

+--------------------------------------------------------------------------------+----+
|value                                                                           |size|
+--------------------------------------------------------------------------------+----+
|Self-Employment: Building an Internet Business of One                           |7   |
|Achieving Financial and Personal Freedom through a Lifestyle Technology Business|10  |
|By Frank Kane                                                                   |3   |
|Copyright � 2015 Frank Kane.                                                    |6   |
|All rights reserved worldwide.                                                  |4   |
+--------------------------------------------------------------------------------+----+
only showing top 5 rows

In [10]:
book.groupby().sum('size').show()

+---------+
|sum(size)|
+---------+
|    46348|
+---------+

In [11]:
spark.stop()